body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* overflow: hidden; */
}

main {
    height: 100%;
}

/* #lists {
    max-height: 80%;
    overflow-y: auto;
} */

.completed {
    text-decoration: line-through;
    color: gray;
}